# Created by https://www.toptal.com/developers/gitignore/api/swift,xcode,macos
# Edit at https://www.toptal.com/developers/gitignore?templates=swift,xcode,macos

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

